   body{
      background-color:black;
   }
   .container{
      top:10vh;
      position:relative;
      display:none;
      left:30px;
     overflow-x: hidden;
      min-height: 70vh;
      overflow-y: hidden;
      
}


#player{
  transform:rotate(90deg);
   background-color:black;
}
   #player{
    position:relative;
    top:-1vh;      
   }

.player-box{
   position:fixed;
   height:100%;
    width:20vh;
   z-index:-3;
   top:200px;
   left:-104vw;
   transform:scale(1.1);
}
   
  

.center{
   display: flex;
   justify-content: center;
}


.element {
  border: 1px solid rgba(237, 228, 228, 1);
  border-radius: 50px;
  background: linear-gradient(
    50deg,
    rgba(255, 255, 255, 0.4) 12%,
    rgba(255, 255, 255, 0.1) 77%
  );
  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: absolute;
  left:107vw ;
  height: 3vh;
  width: 15vw;
  top: -18vh;
  z-index: 9999999;
   white-space: nowrap;

  /* Mirror-like text */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    90deg,
    #ffffff,
    #d9d9d9,
    #a6a6a6,
    #d9d9d9,
    #ffffff
  );
  background-size: 200% auto;
  animation: shineText 4s linear infinite;

  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  gap: 2px;
   visibility: hidden;
}

@keyframes shineText {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.element img {
  height: 2vh;
  width: 4vw;
   filter: invert(1);
  transform: rotate(90deg);
}
